.span1{color: forestgreen;}
p{ 
    word-spacing: 220px;
}

h1{
    color: darkgreen;
    background-color: chartreuse;
}
#para2{
    background-color: chartreuse;
}
#para6{
    background-color: chartreuse;
}
.span2{ color: forestgreen;}